name: Unbrew

on:
  workflow_dispatch:
  
jobs:
  bash:
    name: Bash
    strategy:
      matrix:
        os: [macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Run script
      run: ./unbrew.sh
      shell: bash
